@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Red Rose';
    list-style: none;
    color: #434343;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0 0 2rem;
    align-items: flex-start;
}
.header ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: center;
}
.header button{
    margin-right: 2rem;
    background: #A02279;
    border-radius: 10px;
    height: 48px;
    border: 1px solid #A02279;
    width: 170px;
    color: white;    
}
.header button a{
    color: #fff;
}
.text {
    display: flex;
    justify-content: space-between;
    margin: 6rem 8rem;
}

.text h1{
    color: #434343;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    width: 500px;
    height: 148px;
    letter-spacing: -0.02em;
}
h1 span{
    color : #A02279;
    font-weight: 600px;
}
.text p{
    width: 400px;
    height: 102px;
    font-weight: 400;
    line-height: 30px;
    color: #434343;
    margin-left: 6%;
    margin-top: -1%;
}
.text #input{
    display: flex;
}
 input {
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0 0 8px;
    height: 40px;
    width: 350px;
    float: left;
    margin-left: 6%;
    margin-top: 10px;
}
span input {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border: 1px solid #A3A3A3;
    border-radius: 0 8px 8px 0;
    height: 40px;
    width: 220px;
    float: right;
    color: #fff;
    margin-top: 10px;
}
.images-1 img{
    width: 376px;
    height: 359px;
}
.token{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}
.token img{
    padding: 10px 45px;
}
@media (max-width:968px) {
    *{
        overflow-x: hidden;
    }
    .header{
        margin-top: 20px;
    }
    .header ul{
        gap: 10px;
    }
    .header button{
        margin-right: 1rem;
        width: 104px; 
        height: 36px;
    }
    .text {
        
        margin: 3rem 1rem ;
    }
    .text h1{
        font-size: 36px;
        line-height: 46px;
        width: 400px;
        height: 118px;
        margin-left: 0;
    }
    .text p{
        width: 300px;
        height: 92px;
        line-height: 30px;
        margin-left: 0;
    }
    input {
        height: 40px;
        width: 240px;
        margin-left: 0;
    }
    span input {
        height: 40px;
        width: 100px;
        margin-top: 10px;
    }
    .images-1 img{
        width: 276px;
        height: 259px;
    }
    .token{
        position: absolute;
        width: 100%;
        height: 55px;
    }
}
@media (max-width:768px) {
    .header{
        justify-content: space-around;
        margin: 2rem 1rem;
    }
    .header ul{
        flex-direction: column;
        gap: 10px;
    }
    .header button{
        margin-right: 0rem;
        height: 38px;
        width: 160px;   
    }
    .text {
        flex-direction: column;
        justify-content: center;
        margin: 4rem 0rem;
    }
    .text h1{
        font-weight: 300;
        font-size: 30px;
        line-height: 50px;
        width: 100%;
        height: 148px;
    }
    .text p{
        width: 100%;
        height: 102px;
        font-weight: 300;
        margin-left: 2%;
        margin-top: -2%;
    }
    .text #input{
        margin: 20px;
    }
    input {
        height: 30px;
        width: 250px;
        float: left;
        margin-left: 2%;
    }
    span input {
        height: 30px;
        width: 120px;
        float: right;
    }
    .token{
        height: 45px;
    }
    .token img{
        padding: 5px 15px;
    }
}
